/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
* {
  box-sizing: border-box;
}
.service-card {
  border-radius: 10px;
  overflow: hidden;
  width: 550px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.service-card-options {
  width: 100px;
}
.category {
  color: white;
}

.title {
  color: white;
  margin: 0 0 20px;;
}
.screenshot {
  width: 400px;
  align-self: flex-end;
  position: relative;
  right: -70px;
}
.features {
  display: flex;
  background-color: #dff5f4;
}
.feature-card {
  color: #00b39b;
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  min-height: 250px;
  border-radius: 4px;
}
.feature-card-description {
  color: grey;
}

